body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}


/* Loader */

#loading-container {
  background-color: #049393;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#load {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  font-size: 2em;
  text-align: center;
}

#loading-container.fade-out {
  opacity: 0;
  visibility: hidden;
}


#load span {
  display: inline-block;
  animation: blurAnimation 4s infinite;
}

#load span:nth-child(7n+1) { animation-delay: 0s; }
#load span:nth-child(7n+2) { animation-delay: 0.1s; }
#load span:nth-child(7n+3) { animation-delay: 0.2s; }
#load span:nth-child(7n+4) { animation-delay: 0.3s; }
#load span:nth-child(7n+5) { animation-delay: 0.4s; }
#load span:nth-child(7n+6) { animation-delay: 0.5s; }
#load span:nth-child(7n+7) { animation-delay: 0.6s; }

@keyframes blurAnimation {
  0% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
  50% {
    filter: blur(10px);
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}

/* Add class for fade out animation */
.fade-out {
  opacity: 0 !important;
  pointer-events: none;
}

/* Add container for Three.js canvas */
#scene-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


/* Mail stylizing  */

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  background-color: #092327cc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  caret-color: white;
}

/* Form styling */
#popup h3 {
  margin: 0 0 15px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
}


#popup form {
  display: flex;
  flex-direction: column;
}

#popup input,
#popup textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: #092327;
}
::placeholder{
  color: white;
  font-style: italic;
  opacity: 0.5;
}

/* Buttons */
#popup button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 90%;
  align-self: center;
}

#send {
  background-color: #3590F3;
  color: white;
}

#send:hover {
  background-color: #0c2137;
}

#closePopup{
  background-color: #000000;
  color:white;
  margin-top: 10px;
}


#closePopup:hover{
  background-color: rgb(33, 33, 33);
}

/* About Me */

#aboutMe {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 1000;
  width: 90%;
  max-width: 600px; 
  background-color: #092327cc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px; /* Spacing between the image and buttons */
}

.button {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space buttons apart */
  align-items: center;
}

.prev, .next {
  width: 120px; 
  height: 50px;
  background-color: #3590F3;
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

#closeMe {
  margin-top: 20px; /* Spacing below the image */
  width: 120px; 
  height: 50px;
  margin-left: 230px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  justify-content: center;
  align-self: center; /* Center align the button */
}

#closeMe:hover{
  background-color: rgb(33, 33, 33);
}

.prev:hover,.next:hover{
  background-color: #0c2137;
}



/* Projects */

#projects {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 1000;
  width: 90%;
  max-width: 600px; /* To control maximum size */
  background-color: #000000cc;
}

.pjBox {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
}

.pjImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px; /* Spacing between the image and buttons */
}

.buttonPj {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space buttons apart */
  align-items: center;
}

.prevPj, .nextPj {
  width: 120px; 
  height: 50px;
  background-color: #3590F3;
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

#closePj {
  margin-top: 20px; /* Spacing below the image */
  margin-left: 230px;
  width: 150px; 
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  align-self: center; /* Center align the button */
}

#closePj:hover{
  background-color: rgb(33, 33, 33);
}

.prevPj:hover, .nextPj:hover{
  background-color: #0c2137;
}